body, html{
    height:100%;
}
body {
    background:url('/src/imgs/bg.png') top left repeat;
}
.fullpage-wrapper {
    width:100%;
    height:100%;
    display:table;
}
.fullpage {
    width:100%;
    height:100%;
    display:table-cell;
    vertical-align:middle;
}
@keyframes breath{
    from{
        box-shadow:0 0 0 0px rgba(0, 228, 117, .3);
    }
    80%{
        box-shadow:0 0 0 15px rgba(0, 228, 117, .1);
    }
    to{
        box-shadow:0 0 0 20px rgba(0, 228, 117, .0);
    }
}
.avatar-wrapper {
    width:120px;
    height:120px;
    overflow:hidden;
    border:4px solid #00e6b2;
    background-color:#00e6b2;
    border-radius:100%;
    animation:breath 2s linear 1s infinite;
    margin-bottom:28px;
}
.avatar {
    display:block;
    width:120px;
    height:120px;
    vertical-align:bottom;
    border:none;
}
.zh-name {
    font-size:18px;
    letter-spacing:2px;
    color:#00e6b2;
    line-height:1.2;
}
.en-name {
    font-size:12px;
    color:#00e6b2;
    margin-bottom:28px;
}
.detail {
    width:520px;
    margin:0 auto;
    color:white;
    font-size:16px;
}
.detail .fa{
    color:#00e6b2;
    width:20px;
    text-align:center;
}
.info {
    box-sizing:border-box;
    padding:20px;
    width:259px;
    float:left;
    border-right:2px solid #00e6b2;
}
.info li {
    text-align:right;
}
.info .fa {
    margin-left:12px;
}
.contact {
    box-sizing:border-box;
    padding:20px;
    width:259px;
    float:left;
}
.email {
    color:white;
}
.contact .fa {
    margin-right:12px;
}
.website {
    display:inline-block;
    vertical-align:bottom;
    width:26px;
    height:26px;
    border-radius:100%;
    text-align:center;
    margin-right:5px;
    transition:all 1s;
}
.website .fa {
    margin:0;
    color:#00e6b2;
    vertical-align:2px;
    transition:all 1s;
}
.website:hover {
    background-color:#00e6b2;
}
.website:hover .fa {
    color:#3a3d42;
}
